fastapi
uvicorn[standard]
python-multipart

pydantic>=2
pydantic-settings

streamlit
httpx

pymupdf
markdown-it-py

langchain-text-splitters
chromadb

google-genai

oci

python-dotenv
tenacity
structlog

pytest
pytest-asyncio
pytest-cov

ruff
